<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.semi.sample.dao.sampleDao">

    <select id="getSampleList" parameterType="com.semi.sample.vo.sampleVO" resultType="com.semi.sample.vo.sampleVO">
		SELECT id
             , name
             , email
             , phone
             , address
		  FROM gold.customer
		 WHERE id = #{id}
         ORDER BY id DESC
	</select>
	
	<insert id="sampleInsert" parameterType="com.semi.sample.vo.sampleVO">
		INSERT INTO gold.customer
			(
				name
				, email
				, phone
				, address
			) VALUES (
				#{name}
				, #{email}
				, #{phone}
				, #{address}
			)
	</insert>
	
	<update id="sampleUpdate" parameterType="com.semi.sample.vo.sampleVO">
		UPDATE
			gold.customer
		   SET
			name = #{name}
			, email = #{email}
			, phone = #{phone}
			, address = #{address}
		 WHERE id = #{id}
	</update>
	
	<delete id="sampleDelete" parameterType="int">
		DELETE FROM gold.customer WHERE id = #{id}
	</delete>

</mapper>